<%- include('head'); -%>
    <div class="jumbotron">
        <h3>Create new item</h3>
        <form method="POST" action="/display">
            <p>
                <label>Enter title:</label>
                <input type="text" name="title">
            </p>
            <p>
                <label>Enter authors:</label>
                <input type="text" name="authors">
            </p>
            <p>
                <label>Enter abstact:</label>
                <input type="text" name="abstract">
            </p>
            <input class="btn btn-primary" type="submit" value="Save" id="submit">
        </form>
    </div>
    <%- include('foot'); -%>