<%- include('head'); -%>
  <main>
    <div class="jumbotron">
      <p class="lead"><i class="fa fa-user" aria-hidden="true"></i>
        Authentication Status</p>
      <hr class="my-4">
      <% if (status.isAuthenticated()) { %>
        <p> User <%= status.user.displayName %> is authenticated</p>
        <p> Session expires in <%= status.session.cookie.maxAge / 1000 %> seconds</p>
        <% } else { %>
          <p> User is NOT authenticated </p>
          <a class="btn btn-primary" href="/login" role="button"><span class="fa fa-google"></span> Login</a>
          <% } %>
    </div>
  </main>
  <%- include('foot'); -%>